/ONI-TurboBin/obj
/packages
/MSBuildTasksHelper/bin/Release
/MSBuildTasksHelper/obj
/TransferPort/bin/Debug
/TransferPort/bin/obj
/TransferPort/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/TransferPort/bin/Debug/TransferPort.dll
/TransferPort/bin/Debug/TransferPort.pdb
/TransferPort/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/TransferPort/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TransferPort/obj/Debug/mod.yaml
/TransferPort/obj/Debug/mod_info.yaml
/TransferPort/obj/Debug/TransferPort.csproj.AssemblyReference.cache
/TransferPort/obj/Debug/TransferPort.csproj.CoreCompileInputs.cache
/TransferPort/obj/Debug/TransferPort.csproj.FileListAbsolute.txt
/TransferPort/obj/Debug/TransferPort.csproj.GenerateResource.cache
/TransferPort/obj/Debug/TransferPort.dll
/TransferPort/obj/Debug/TransferPort.pdb
/TransferPort/obj/Debug/TransferPort.Properties.Resources.resources
/TransferPort/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/TransferPort/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/TransferPort/obj/Release/DesignTimeResolveAssemblyReferences.cache
/TransferPort/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/TransferPort/obj/Release/TransferPort.csproj.AssemblyReference.cache
/TransferPort/obj/Release/TransferPort.csproj.CoreCompileInputs.cache
/TransferPort/obj/Release/TransferPort.csproj.FileListAbsolute.txt
/TransferPort/obj/Release/TransferPort.csproj.GenerateResource.cache
/TransferPort/obj/Release/TransferPort.Properties.Resources.resources
*.dll
/TransferPort/obj/Steam/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/TransferPort/obj/Steam/DesignTimeResolveAssemblyReferencesInput.cache
/TransferPort/obj/Steam/TransferPort.csproj.AssemblyReference.cache
/TransferPort/obj/Steam/TransferPort.csproj.CoreCompileInputs.cache
/TransferPort/obj/Steam/TransferPort.csproj.FileListAbsolute.txt
/TransferPort/obj/Steam/TransferPort.csproj.GenerateResource.cache
/TransferPort/obj/Steam/TransferPort.Properties.Resources.resources
/TransferPort/obj/project.assets.json
/TransferPort/obj/project.nuget.cache
/TransferPort/obj/TransferPort.csproj.nuget.dgspec.json
/TransferPort/obj/TransferPort.csproj.nuget.g.props
/TransferPort/obj/TransferPort.csproj.nuget.g.targets
/TransferPort/.vs/TransferPort.csproj.dtbcache.json
/.vs/ONI-TurboBin/CopilotIndices/17.14.1518.61961/CodeChunks.db
/.vs/ONI-TurboBin/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
/.vs/ONI-TurboBin/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
/.vs/ONI-TurboBin/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
/.vs/ONI-TurboBin/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
/.vs/ONI-TurboBin/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
/.vs/ONI-TurboBin/FileContentIndex/2ba8793d-eabe-4274-a10c-7836c4395959.vsidx
/.vs/ONI-TurboBin/FileContentIndex/6c98006d-77b9-4b89-9720-462e4d40756c.vsidx
/.vs/ONI-TurboBin/FileContentIndex/c2d9145e-7b81-4d85-a48a-7400b338d416.vsidx
/.vs/ONI-TurboBin/FileContentIndex/dbdd61c9-fed0-4d2d-adae-de9c15356b85.vsidx
/.vs/ONI-TurboBin/FileContentIndex/fc4aed85-faf8-435f-9d60-b2814419bddf.vsidx
/.vs/ONI-TurboBin/v17/.suo
/.vs/ONI-TurboBin/v17/DocumentLayout.backup.json
/.vs/ONI-TurboBin/v17/DocumentLayout.json
/ONI-TurboBin/.vs/ONI-TurboBin.csproj.dtbcache.json
